{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <script>
      // var exports={};
      window.csrftoken  = '{{ csrf_token }}';
      window.project_id  = {{ project.id }};
      window.timezone = {{ device.timezone}}
      window.spec_coord =  {
        tstart: parseInt({{ tstart }}),
        tend: parseInt({{ tend }}),
        fstart: parseFloat({{ fstart }}),
        fend: parseFloat({{ fend }}),
      }
    </script>
    <!-- <script src="{% static 'global.js' %}" type="module"></script> -->
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-3.5.1.min.js"
    ></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <!-- <script src="{% static 'functions.js' %}"></script> -->
  </head>
  <body>
    <img src="{% static 'loading_3.gif' %}" id="loading" />
    <canvas id="spec"></canvas>

    <section id="body">
      <form>
        <table>
          <tr>
            <td>N fft</td>
            <td>Fft window</td>
            <td>Lower frequency limit</td>
            <td>Upper frequency limit</td>
            <td>Offset (s)</td>
            {% if file.stereo %}
            <td>Channels</td>
            {% endif %}
            <td>Contrast</td>
            <td>Sensitivity</td>
          </tr>
          <tr>
            <td>
              <select name="nfft" id="nfft">
                <option value="256">256</option>
                <option value="512">512</option>
                <option value="1024">1024</option>
                <option value="2048">2048</option>
                <option value="4096">4096</option>
                <option value="8192">8192</option>
              </select>
            </td>
            <td>
              <select name="wfft" id="wfft">
                <option value="256">256</option>
                <option value="512">512</option>
                <option value="1024">1024</option>
                <option value="2048">2048</option>
                <option value="4096">4096</option>
                <option value="8192">8192</option>
              </select>
            </td>
            <td>
              <input type="number" name="lf" id="lf" value="{{ project.lf }}" />
            </td>
            <td>
              <input type="number" name="hf" id="hf" value="{{ project.hf }}" />
            </td>
            <td>
              <input type="number" name="offset" id="offset" value="0" />
            </td>
            {% if file.stereo %}
            <td>
              <input
                type="radio"
                name="channel" class="channel"
                id="cmono"
                value="mono"
                checked
              />Mono
              <input type="radio" name="channel" class="channel" id="cl" value="l" />Left
              <input type="radio" name="channel" class="channel" id="cr" value="r" />Right
            </td>
            {% endif %}

            <td>
              <input type="range" min="1" max="100" value="50" id="contr" />
            </td>
            <td>
              <input type="range" min="1" max="100" value="50" id="sens" />
            </td>
          </tr>
        </table>
      </form>
    </section>
    <script>
      document.getElementById("nfft").value = "{{ project.nfft_view }}";
      document.getElementById("wfft").value = "{{ project.fft_window_view }}";
    </script>
    <script src="{% static 'main.js' %}" type="module"></script>
  </body>
</html>
