
<!DOCTYPE html>
<html>
    <head>
        <title>All files - {{device.device.name}} - {{ project.title }}</title>
        <style>
            td {
                padding: 0 10px;
            }
            thead {
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        {% include "device_details.html" %}
        <table>
            <thead>
                <tr>
                    <td>
                        File name
                    </td>
                    <td>
                        Manually checked by
                    </td>
                    <td>
                        Recording started
                    </td>
                    <td>
                        Recording ended
                    </td>
                    <td>
                        Duration
                    </td>
                    <td>
                        Sample rate
                    </td>
                    <td>
                    
                    </td>
                </tr>
            </thead>
            <tbody>
                {% for file in files %}
                <tr>
                    <td>
                        <a href="{{file.id}}/">{{ file.filename }}</a>
                    </td>
                    <td>
                       {{ file.manually_checked_by.username }}
                    </td>
                    <td>
                        {{ file.tstart|date:'Y-m-d \a\t H:i:s' }}
                    </td>
                    <td>
                        {{ file.tend|date:'Y-m-d \a\t H:i:s' }}
                    </td>
                    <td>
                        {{ file.duration }}
                    </td>
                    <td>
                        {{ file.sample_rate }}
                    </td>
                    <td>
                        <a href="view/{{file.tstart_iso}}/{{file.tend_iso}}/{{project.lf}}/{{project.hf}}">View spectrogram</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>